.dropdown-content{
  display: none;
  position: absolute;
  background-color:  rgba(80, 80, 80, 0.8);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #EEE;
  display: block;
  text-decoration: none;
  padding: 12px 16px;
}
.dropdown-content a:hover{
  color: #AAA;
  display: block;
  text-decoration: none;
  padding: 12px 16px;
}

.show {
  display: block;
}

.button-bar {
  padding-top: 80px;
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #777777;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#search-bar {
  display: block;
  position: relative;
  margin: auto;
  margin-bottom: 20px;
  width: 60%;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-family: 'Open Sans', 'Trebuchet', sans-serif;
}

.button-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgba(0,0,0,0);
}
.industry-category {
  flex-grow: 1;
  border: none;
  background-color: rgba(0,0,0,0.2);
  padding: 10px;
  color: white;
  height: auto;
}
.industry-category:hover {
  background-color: rgba(0,0,0,0.3);
}
.industry-category:focus {
  background-color: rgba(0,0,0,0.5);
  outline: 0;
}
.industry-category h5 {
  display: block;
  margin: auto;
}

.headshot {
  margin: 0 auto;
  display: block;
  height: 30%;
}

.like-button:hover {
  color: rgb(230,230,230);
}
